body{
	background-image: url(1.jpg);
	background-size:cover;
    width:100%;
	height: 100%;
}
header.startup h1{
text-align: center;
align-content: center;
margin-top:260px;
margin-left:250px;
color:white;
font-family: 'Montserrat', sans-serif;



}
header.startup hr{
 max-width:160px;
 text-align:center;
 margin-top:270px;
 margin-left: 500px;
 border-width: 3px;
 border-color:blue; 
}
.btn{
	font-weight:700;
	text-transform:uppercase;
	border-radius:300px;
	font-family: 'Montserrat', sans-serif;
	margin-top:0px;
  margin-left: 500px;
}
.btn-info {
  background-color: #F05F44;
  border-color: #F05F44; }
.btn-info:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
